body {
    background-image: url("./images/Bits.jpg");
    background-color: rgb(41, 38, 38);
    background-size: cover;

    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

h1 {
    color: white;
    position: relative;
    top: 80px;
}

#content {
    position: relative;
    top: 50px;

    margin-left: 500px;
    margin-right: 500px;

    min-height: 500px;
    max-height: 500px;
    border-radius: 50px;

    background-color: rgb(0, 0, 0);
    opacity: 0.85;
    border: 3px solid rgb(130, 138, 255);
    box-shadow: 0px 10px 20px red;
}

#board-4x4 {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;

    background-size: cover;
    min-height: 75px;
    min-width: 75px;

    position: relative;
    top: 125px;
    left: 50px;

    background-color: red;
    border-radius: 10px;
    border: 2px solid white;
}

#board-6x6 {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;

    background-size: cover;
    min-height: 75px;
    min-width: 75px;

    position: relative;
    top: 125px;
    left: 110px;

    background-color: blue;
    border-radius: 10px;
    border: 2px solid white;
}

#board-8x8 {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;

    background-size: cover;
    min-height: 75px;
    min-width: 75px;

    position: relative;
    top: 235px;
    right: 110px;

    background-color: blue;
    border-radius: 10px;
    border: 2px solid white;
}

#board-10x10 {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;

    background-size: cover;
    min-height: 75px;
    min-width: 75px;

    position: relative;
    top: 235px;
    right: 50px;

    background-color: red;
    border-radius: 10px;
    border: 2px solid white;
}

#board-4x4:hover {
    box-shadow: -5px 5px 5px 1px rgb(10, 10, 170);
}

#board-6x6:hover {
    box-shadow: 5px 5px 5px 1px rgb(175, 10, 10);
}

#board-8x8:hover {
    box-shadow: -5px 5px 5px 1px rgb(175, 10, 10);
}

#board-10x10:hover {
    box-shadow: 5px 5px 5px 1px rgb(10, 10, 170);
}