body {
    background-image: url("Circuit-Space.webp");
    background-color: rgb(41, 38, 38);
    background-size: cover;

    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

h1 {
    position: relative;
    margin-left: 700px;
    margin-right: 700px;
    box-shadow: 2px 15px 15px rgba(0, 0, 0, 0.8);
    border-radius: 10px;

    background-color: rgb(41, 41, 160);
    opacity: 0.85;
    border: 3px solid rgb(130, 138, 255);

    bottom: 20px;
    color: white;
}

#game-box {
    background-color: rgb(0, 0, 0);
    min-height: 650px;
    max-height: 650px;
    min-width: 50%;
    max-width: 50%;
    box-shadow: 0px 10px 20px red;

    position: relative;
    bottom: 31px;
    border-radius: 20px;
    opacity: 97%;
}

.buttons {
    position: relative;
    bottom: 70px;

    background-color: rgb(41, 38, 38);

    min-height: 88px;
    max-height: 88px;
    min-width: 88px;
    max-width: 88px;
    border-radius: 10px;
    margin: 2px;

    transition: background .15s linear, color .15s linear;
}

.buttons:hover {
    box-shadow: 0px 0px 5px red;
}

#timer-current {
    opacity: 100%;
}

.current-time {
    color: white;
    display: inline-flex;
    position: relative;
    top: 530px;
}

#timer-best {
    opacity: 0%;
}

.best-time {
    color: white;
    display: inline-flex;
    position: relative;
    bottom: 8px;
}

#game-win {
    position: relative;
    top: 500px;

    color: white;
    /* background-color: rgb(41, 38, 38); */
    background-color: rgb(41, 41, 160);
    opacity: 0.85;
    border: 2px solid rgb(130, 138, 255);
    border-radius: 8px;

    font-family: 'Orbitron', sans-serif;
    height: 30px;

    display: none;
}

#game-win:hover {
    box-shadow: 0px 5px 5px red;
}

#incomplete {
    position: relative;
    color: white;
    bottom: 77px;
}